img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -75px;
    position: relative;
    margin-bottom: 5px;
    left: 40%;
}

#main-container {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 60px auto;
    width: 700px;
    top: 250px;
    background-color: rgb(106, 90, 205);
    color: white;
}

p {
    font-size: 24px;
    position: relative;
    font-weight: bold;
}

#name p {
    padding: 5px;
}

.container {
    display: none;
}

.container.active {
    display: block;
}